<ul class="task-list">
	<li ng-repeat="task in tasks">
		<span class="task-status">
			<i class="glyphicon glyphicon-ok clickable" ng-show="task.is_completed" ng-click="uncompleteTask(task.id)"></i>
			<i class="glyphicon glyphicon-unchecked clickable" ng-hide="task.is_completed" ng-click="completeTask(task.id)"></i>
		</span>
		<div class="task-name">{{task.name}}</div>
		<i class="glyphicon glyphicon-remove clickable" ng-click="deleteTask(task.id)"></i>	
	</li>	
	<form name="addTask" ng-submit="createTask(task.name)">
		<span class="task-status">
			<i class="glyphicon glyphicon-unchecked" ng-hide="task.is_completed"></i>
		</span>
		<input type="text" ng-model="task.name" name="new-task" />
		<input type="submit" value="Add" />
	</form>
</ul>